

  <nav> <div class="nav-wrapper">
    <a href="#!" class="brand-logo">IMSS Pvt Ltd</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#"><i class="material-icons left">notifications</i>Notification</a></li>
      <li><a href="#"><i class="material-icons right">logout</i>Logout</a></li>
    </ul>
  </div> </nav>
  <ul id="slide-out"  class="sidenav">
    <li><a class="waves-effect" href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a class="waves-effect" href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a data-activates="slide-out" class="btn"><i class="material-icons">menu</i></a>
  
  
  <script>

$(document).ready(function(){
   $('.btn').sideNav(); 
});

  </script>