<div class="row">
  <h4>UPdate Leave</h4>
    <div class="input-field col s10">
      <input id="Employe_id" type="text" class="validate" name="user">
      <label for="first_name">Employee Id</label>
    </div>
    <div class="input-field col s10">
      <input id="name" type="text" class="validate" name="user">
      <label for="first_name">Name</label>
    </div>
    <div class="input-field col s10">
      <input id="ression" type="text" class="validate" name="user">
      <label for="first_name">Resson</label>
    </div>
    <div class="col s10">
      <input id="date" type="date" class="validate" name="user">
    </div>
  </div>
    <a class="waves-effect waves- blue darken-1 btn-flat" (click)='onlogin(user_name,user_password)'>Update Leave</a>